DATABASE_URL="mysql://root@localhost:3309/<your_db_name>"
SHADOW_DATABASE_URL="mysql://root@localhost:3310/<your_db_name>"

# local
# mysql://root@localhost:3309/<your_db_name>
# shadow
# mysql://root@localhost:3310/<your_db_name>